Daily[[:space:]]prices[[:space:]]jan[[:space:]]2000[[:space:]]-[[:space:]]dec[[:space:]]2025[[:space:]]zip[[:space:]]limited[[:space:]](preferred).csv filter=lfs diff=lfs merge=lfs -text
quarterly_fundamentals_sweden[[:space:]]jan[[:space:]]2000[[:space:]]-[[:space:]]dec[[:space:]]2025.csv filter=lfs diff=lfs merge=lfs -text
monthly_prices_jan[[:space:]]2005[[:space:]]-[[:space:]]dec[[:space:]]2025[[:space:]](sweden[[:space:]]filter.csv filter=lfs diff=lfs merge=lfs -text
